@model OgrenciNotMVCProjesi.Models.EntityFramework.TblOgrenciler
@{
    ViewBag.Title = "OgrenciGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Güncelle", "Ogrenciler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciAd)
        @Html.TextBoxFor(m => m.OgrenciAd, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciSoyad)
        @Html.TextBoxFor(m => m.OgrenciSoyad, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciFotograf)
        @Html.TextBoxFor(m => m.OgrenciFotograf, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciKulup)
         @Html.TextBoxFor(m => m.OgrenciKulup, new { @class = "form-control" })
        @*@Html.DropDownListFor(m => m.TblKulupler.KulupID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })*@

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OgrenciCinsiyet)
        @Html.TextBoxFor(m => m.OgrenciCinsiyet, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(m => m.OgrenciID)
    <div style="margin-top:15px;">
        <button class="btn btn-primary">Güncelle</button>
    </div>
}

