@model OgrenciNotMVCProjesi.Models.EntityFramework.TblNotlar
@{
    ViewBag.Title = "NotGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("NotGetir", "Notlar", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OgrID)
        @Html.TextBoxFor(m => m.OgrID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Sinav1)
        @Html.TextBoxFor(m => m.Sinav1, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Sinav2)
        @Html.TextBoxFor(m => m.Sinav2, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Sinav3)
        @Html.TextBoxFor(m => m.Sinav3, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Proje)
        @Html.TextBoxFor(m => m.Proje, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ortalama)
        @Html.TextBoxFor(m => m.Ortalama, new { @Value = @ViewBag.ort, @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Durum)
        @Html.TextBoxFor(m => m.Durum, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.NotID)
    <div>
        <button type="submit" name="islem" value="Hesapla" class="btn btn-default">Hesapla</button>
        <br /><br />
        <button type="submit" name="islem" value="NotGüncelle" class="btn btn-info">Güncelle</button>
       
    </div>
}

